/* CSS-kokonaisharjoitus, osa 3 */

/* Hallitse content, padding, border ja margin sekä box-sizing, leveydet, korkeudet ja overflow. */

/* base */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
}

/* general */
body {
    font-family: Helvetica, Arial, sans-serif;
    line-height: 1.6;
    font-size: 1rem;
    background-color: #f4f4f4;
    color: #292929;
    width: 100%;
    min-height: 100vh;
    /* CSS min-height Property sets an element's minimum height to 100% of the browser window's viewport height.*/
}

/* header */
.site-header {
    background-color: #A9B18F;
    padding: 2rem;
}

.brand {
    color: #222222;
}

/* navigation */
.nav-list {
    list-style-type: none;
    padding: 10px;
}

.nav-list li:first-child {
    font-weight: bold;
}

.nav-list a,
.nav-list a:visited {
    text-decoration: none;
    color: inherit;
}

.nav-list a:hover,
.nav-list a:focus {
    text-decoration: underline;
}

/* hero */
.hero {
    background-color: #F0B5B3;
    width: 100%;
    min-height: 300px;
    padding: 2.5rem;
}

.eyebrow {
    color: #fe64a3;
    margin-bottom: 10px;
}

.hero h1 {
    margin-bottom: 15px;
}

.hero__lead {
    margin-bottom: 20px;
}

/* buttons */
.button {
    background-color: #cb807d;
    color: #FFF;
    padding: 0.5rem 1rem;
    border-radius: 15px;
    margin-right: 10px;
}

.button--primary {
    background-color: #f6839c;
    color: #FFF;
}

a[href^="#"] {
    text-decoration: none;
}

/* content section */
.content-section {
    width: 100%;
    padding: 2rem;

}

.content-section h2 {
    margin-bottom: 1rem;
}

/* cards */
.card-list {
    margin: 0 auto;
}

.card {
    background-color: #FFF;
    border: 1px solid #CB807D;
    border-radius: 15px;
    width: 100%;
    min-height: 180px;
    padding: 2rem;
    margin-bottom: 1rem;
    overflow: hidden;
}

.card--featured {
    background-color: #F0B5B3;
    border: 1px solid #CB807D;
}

.card--featured::before {
    content: "Suositus";
    color: #f6839c;
    font-weight: bolder;
}

.card__badge {
    color: #cb807d;
    margin-bottom: 0.5rem;
}

.card__title {
    margin-bottom: 0.5rem;
}

.card__text {
    overflow: auto;
    margin-bottom: 0.5rem;
}



/* help button */
.help-button {
    background-color: #fe64a3;
    color: #FFF;
    border: none;
    width: 25px;
    height: 25px;
    padding: 2px;
    margin: 0 0 1rem 2rem;
}

/* footer */
.site-footer {
    background-color: #A9B18F;
    min-height: 100px;
    padding: 2rem;
}

/* responsive */